@model PaymentInfoModel

<input type="hidden" asp-for="Errors" />

@if (!string.IsNullOrEmpty(Model.PublicId))
{
    @if (Model.isRevolutPay)
    {
        <div id='revolut-pay'></div>


    <script asp-location="Footer">
        $(document).ready(function () {
            $('.payment-info-next-step-button').hide();
            //Revolut Pay
            RevolutCheckout("@Model.PublicId", "@Model.environment").then(function (instance) {
                var revPay = instance.revolutPay({
                    target: document.querySelector("#revolut-pay"),
                    phone: "@Model.BillingAddress.PhoneNumber",
                    email: "@Model.BillingAddress.Email",
                    locale: "en",                    
                    onSuccess() {
                        $('button.payment-info-next-step-button').trigger("click");                        
                    },
                    onError(error) {                        
                        $('#@Html.IdFor(model => model.Errors)').val(error.message);
                        revPay = null;
                        $('button.payment-info-next-step-button').trigger("click");
                    }
                });
            });

            $(document).on('accordion_section_opened', function (data) {
                if (data.currentSectionId != 'opc-payment_info') {
                    $('.payment-info-next-step-button').show();
                }
            });
        });
    </script>
     }
}

@if (orderSettings.OnePageCheckoutEnabled)
{
    @Html.NopInlineScripts(ResourceLocation.Footer)
}